<html>
<head>
    <title>Create Book</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<form method="post" action="/create">
            <input type="text"
                   name="name"
                   placeholder="Book name"/>
            <input type="text"
                   name="author"
                   placeholder="Book author"/>
            <input type="text"
                   name="pages"
                   placeholder="Numbers of pages"/>

        <input type="submit"/>

</form>
</body>
</html>