<!DOCTYPE html>
<html>
<head>
    <title>Create Book</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<form method="post" action="/create">
    <label>
        Name<br>
        <input type="text" name="name" placeholder="Book name" required>
    </label>
    <br>
    <label>
        Author<br>
        <input type="text" name="author" placeholder="Book author" required>
    </label>
    <br>
    <label>
        Pages<br>
        <input type="number" name="pages" placeholder="Number of pages" required>
    </label>
    <br>
    <input type="submit" value="Add Book">
</form>
</body>
</html>