<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<form method="post" action="/update">
    <input type="hidden" name="id" th:value="${book.id}">
    <label>
        Name<br>
        <input type="text" name="name" th:value="${book.name}" required>
    </label>
    <br>
    <label>
        Author<br>
        <input type="text" name="author" th:value="${book.author}" required>
    </label>
    <br>
    <label>
        Pages<br>
        <input type="number" name="pages" th:value="${book.pages}" required>
    </label>
    <br>
    <input type="submit" value="Save Changes">
</form>
</body>
</html>